<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hex - RGB Converter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7FE5DA31E2048D500A85644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7FE5DBA1E2048D500A85644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7FE5DC51E2048D500A85644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
